.texto {
    color:darkgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    width:70%;
    margin:10px auto;
}

#cabecera{
    text-align: center;
    color: darkred;
    border-radius: 10%;
    border: 1px solid black;
}